/* Google Fonts "Poppines" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    position: relative;
    width: 85%;
    height: 95%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

section .menu_side , 
.song_side{
    width: 25%;
    height: 90%;
    /* border: 1px solid white; */
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f ;
    color: white;
}

section .song_side {
    width: 75%;
    background: #0b1320
}

section .master_play{
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f ;
}
section .menu_side img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
}
section .menu_side h1{
    position: relative;
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    transition: .3s linear;
    cursor: pointer;
    color: whitesmoke;
}
section .menu_side h1:hover{
    scale: 1.03;
}

section .menu_side .playlist{
    margin: 40px 0px 0px 20px;
}

section .menu_side .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

section .menu_side .playlist h4:hover{
    color: white;
    scale: 1.05;
}

section .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

section .menu_side .playlist h4 span::before{
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262 ;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

section .menu_side .playlist h4 span::before{
    border: 2px solid white;
}

section .menu_side .playlist h4 .material-symbols-outlined{
    display: none;
}

section .menu_side .playlist .active{
    color: aqua;
}

section .menu_side .playlist .active span {
    display: none;
}

section .menu_side .playlist .active .material-symbols-outlined{
    display: flex;
    margin-right: 20px;
}

section .menu_side .menu_song{
    width: 100%;
    height: 420px;
    /* border: 1px solid white; */
    margin-top: 40px;
    overflow: auto;
}

section .menu_side .menu_song::-webkit-scrollbar{
    display: none;
}

section .menu_side .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

section .menu_side .menu_song li:hover{
    background: rgb(105, 105, 105, .1);
}

section .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

section .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

section .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}

section .menu_side .menu_song li .material-symbols-outlined{
    position: absolute;
    right: 15px;
    color: white;
    font-size: 20px;
}

section .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

section .master_play .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

section .master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    background: aqua;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
}

section .master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    background: aqua;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}

section .master_play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
section .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}


/* javaScript classes */

section .master_play .active1 .wave1{
    animation: wave .5s linear infinite;
}

section .master_play .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}

section .master_play .active1 .wave1:nth-child(3){
    animation-delay: .8s
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

section  .master_play img{
    width: 35px;
    height: 35px;
}

section  .master_play h5{
    width: 130px;
    /* border: 1px soild white; */
    margin-left: 15px;
    color: white;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

section  .master_play h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section  .master_play .icons{
    font-size: 20px;
    color: white;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30%;
    width: 30%;
}

section  .master_play .icons .material-symbols-outlined{
    cursor: pointer;
    outline: none;
}

section  .master_play .icons .shuffle{
    font-size: 17px;
    margin-left: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

section  .master_play .icons #document_music .material-symbols-outlined{
    font-size: 20px;
    margin-left: 10px;
    
}

section  .master_play .icons .material-symbols-outlined :nth-child(3){
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px ;
    margin: 0px 5px;
}
section  .master_play span{
    color: white;
    width: 32px;
    /* border: 1px solid white; */
    font-size: 25px;
    font-weight: 400;
    transition: .3s linear;
}
section  .master_play span:hover{
    scale: 1.3;
}


section .song_side{
    z-index: 2;
}
section .song_side::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 300px;
    background: url(arjit_bg.png);
    top: 40px;
    z-index: -1;
}

section .song_side nav{
    width: 90%;
    height: 10%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .song_side nav ul{
    display: flex;
}

section .song_side nav ul li{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

section .song_side nav ul li:hover{
    color: white;
    scale: 1.1;
}

section .song_side nav ul li:nth-child(1){
    color: white;
}

section .song_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: aqua;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

section .song_side nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid white; */
    color: gray;
}

section .song_side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184 .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

section .song_side nav .search .material-symbols-outlined{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

section .song_side nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: white;
    font-size: 12px;
}

section .song_side nav .user{
    position: relative;
    width: 200px;
    height: 50px;

}

section .song_side nav .user ul{
    display: flex;
    align-items: center;
}

section .song_side nav .user ul li{
    list-style: none;
    position: relative;
    font-size: 15px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
    
}

section .song_side nav .user ul li:hover{
    color: white;
    scale: 1.1;
}

section .song_side nav .user ul span{
    cursor: pointer;
    transition: .3s linear;
}

section .song_side nav .user ul span:hover{
    color: gray;
    scale: 1.2;
}

section .song_side .content{
    width: 90%;
    height: 30%;
    /* border: 1px solid white; */
    margin: auto;
    padding-top: 20px;
}

section .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
    transition: .3s;
}

section .song_side .content h1:hover{
    scale: 1.01;
}

section .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}

section .song_side .content .buttons{
    margin-top: 15px;
}

section .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid aqua;
    outline: none;
    border-radius: 20px;
    background: aqua;
    color: white;
    cursor: pointer;
    transition: .3s linear;
}

section .song_side .content .buttons button:hover{
    background: none;
    color: aqua;
}

section .song_side .content .buttons button:nth-child(2){
    background: none;
    color: aqua;
}

section .song_side .content .buttons button:nth-child(2):hover{
    background: aqua;
    color: white;
}

section .song_side .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid white; */
}

section .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .song_side .popular_song .h4 .material-symbols-outlined{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

section .song_side .popular_song .h4 .material-symbols-outlined:hover{
    color: white;
}

section .song_side .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}

section .song_side .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}

section .song_side .popular_song .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style: none;
    margin-right: 10px;
    transition: .3s linear;
}

section .song_side .popular_song .pop_song li:hover{
    background: rgb(105, 105, 170, .1);
}

section .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .song_side .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}

section .song_side .popular_song .pop_song li .img_play .material-symbols-outlined{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

section .song_side .popular_song .pop_song li:hover .img_play .material-symbols-outlined{
    opacity: 1;
}

section .song_side .popular_song .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section .song_side .popular_song .pop_song li h5 .subtitle{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}

section .song_side .popular_artists{
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 15px;
}

section .song_side .popular_artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .song_side .popular_artists .h4 .material-symbols-outlined{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

section .song_side .popular_artists .h4 .material-symbols-outlined:hover{
    color: white;
}

section .song_side .popular_artists .item{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}

section .song_side .popular_artists .item::-webkit-scrollbar{
    display: none;
}

section .song_side .popular_artists .item li{
    list-style: none;
    position: relative;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

section .song_side .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


